
<body>
<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="all">
  <div style="text-align:center">
    <!--<h1>-->
    <!--Welcome dzisiaj {{ title }}!-->
    <!--</h1>-->



    <img width="300" src="https://media.licdn.com/dms/image/C4D0BAQFlYJUXirAbpw/company-logo_200_200/0?e=2159024400&v=beta&t=e41dRm19ptfHwMj3mkWHcrEMkFhC6-nPPqKcmmeV1mk">
  </div>


  <p class="mojTekst">zaloguj sie</p>


  <form role="form" (submit)="checkLogin()">
    <div class="form-group">
      <label for="username">Username:</label> <input type="text"
                                                     class="form-control" id="username" name="username" [(ngModel)]=username>
    </div>
    <div class="form-group">
      <label for="password">Password:</label> <input type="password"
                                                     class="form-control" id="password" name="password" [(ngModel)]=password>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<app-footer></app-footer>
</body>



<router-outlet></router-outlet>
