<app-header></app-header>

<body>
<body>
<div class="powitanie">
  Witaj kierowniku

</div>


<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-5">
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']" >lista pracowników</button ><br><br>
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']">dodaj pracownika</button ><br><br>
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']">wyślij modyfikuj dane</button ><br><br>
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']">zobacz kalendarz</button ><br><br>
    <button class="nav-item nav-link-edit" routerLink="/worker">modyfikuj kalendarz</button >        <!--     //to jest poprawne-->

    <a class="nav-link" routerLink="/worker">Ide sobie</a>



  </div>
  <div class="col-sm-5">
  jakies dodatkowe  informacje. <br>
    jeszcze nie wiadomo co.


  </div>

</div>

</body>





<app-footer></app-footer>
