



<app-header></app-header>

<body>
<div class="powitanie">
  Witaj pracowniku<br>

</div>


<div class="row">
  <div class="col-sm-2"> </div>

  <div class="col-sm-4">
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']" >zobacz swój kalendarz </button ><br><br>
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']">napisz podanie</button ><br><br>
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']">wyślij zwolnienie</button ><br><br>
    <button class="nav-item nav-link-edit" [routerLink]="['worker-table']">napisz maila</button >



  </div>
<div class="col-sm-6">
  informacje bieżące:<br>
  w tym miesiącu szacowana pensja: 2500 pln brutto, <br>
  szacowana liczba przepracowanych godzin: 85



</div>

</div>



</body>
<app-footer></app-footer>


